/distillations/*
!/distillations/*.md
!/distillations/README.md
/atomic/*
!/atomic/*.md
!/atomic/README.md
/process_memory/*
!/process_memory/*.md
!/process_memory/README.md
/analyses/*
!/analyses/*.md
!/analyses/README.md
/backlog/*
!/backlog/*.md
!/backlog/README.md
/ideas/*
!/ideas/*.md
!/ideas/README.md
/sensitive/
/tools/
*.pyc
*.tmp
.DS_Store
